.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li#popular{role: "presentation"}
          = link_to "Popurar", populars_path, remote: :true
        %li#newest.active{role: "presentation"}
          = link_to "Newest", newests_path
      %button{type: "button", class: "btn btn-default col-lg-1"} View Tags
